[Desktop Entry]
Name=Nota
Comment=Write and find local Markdown notes
Exec=nota-desktop
Icon=net.astrazds.Nota
Terminal=false
Type=Application
Categories=Utility;TextEditor;
Keywords=notes;markdown;writing;
StartupNotify=true
StartupWMClass=net.astrazds.Nota
